{% extends "base.html" %} {% import 'macros.html' as macros %} {% block content %}

<div class="col-md-4 col-md-offset-4">

  <div align="center">
    <h1>BarBeerDrinkerPlus</h1>
  </div>

  <div align="center">
    <hr>

    <p> Select a target state to find bars and drinkers there </p>
    <form action="/index" method="POST" name="stateSelection">
      {{form1.hidden_tag()}}  {{form1.state.label}} {{form1.state}}
      {{form1.submit()}}
    </form>
    <hr>

    <p> Select a name and social media to find a list of his friends and what bars they frequent </p>
    <form action="/index" method="POST" name="stateSelection">
      {{ form2.hidden_tag() }}
      {{ form2.drinker.label }} {{ form2.drinker }}
      {{ form2.media.label }} {{ form2.media }}
      {{ form2.submit() }}
    </form>
    <hr>

  </div>

  {% endblock %}
